<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
     <h2>Job List</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Job Title</th>
            <th>Job Rate</th>
            <th>Applied</th>
            <th>Link</th>
        </tr>

        <!-- Job rows will be inserted here into the placeholder: -->
        {% for job in jobs %} <!-- jobs is passed in from rust code. -->
        <tr> <!-- The data for each job object is extracted and added to a table row: -->
            <td>{{ job.id }}</td>
            <td>{{ job.title }}</td>
            <td>{{ job.hourly }}</td>
            <td>{{ job.applied }}</td>
            <td><a href="{{ job.link }}" target="_blank">View Job</a></td>
        </tr>
        {% endfor %}
    </table>   

    <a href="/">Back to Home</a>

</body>
</html>
